/* variables.scss */

// Kolory podstawowe
$neon-red: #ff073a;
$black: #000000;
$white: #ffffff;
$dark-grey: #333333;
$light-grey: #f1f1f1;

// Kolory tła
$background-light: #fafafa; // Tło jasne
$background-dark: #121212; // Tło ciemne

// Kolory tekstów
$text-dark: #333333; // Tekst ciemny (na jasnym tle)
$text-light: #ffffff; // Tekst jasny (na ciemnym tle)
$text-muted: #888888; // Tekst w kolorze szarości

// Kolory przycisków
$button-primary: #ff073a; // Kolor przycisków (np. dodaj do koszyka)
$button-secondary: #555555; // Kolor przycisków alternatywnych
