.search-bar {
  display: flex;
  align-items: center;
  position: relative;

  .search-icon {
    color: #fff;
    margin-right: 0.5em;
  }

  &__input-container {
    position: relative;
  }

  &__input {
    background-color: #444;
    color: white;
    padding: 8px 12px;
    width: 18rem;
    border-radius: 8px;
    outline: none;
    border: none;

    &::placeholder {
      color: #ddd;
    }
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #f3f3f3;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    z-index: 50;
    transition: all 0.2s;

    &-item {
      padding: 8px 12px;
      cursor: pointer;
      &:hover {
        background-color: #ddd;
      }
    }

    &-content {
      display: flex;
      align-items: center;
      gap: 8px;
      color: #333;
    }

    &-image {
      width: 30px;
      height: auto;
      border-radius: 4px;
    }
  }

  &__no-results {
    text-align: center;
    padding: 10px;

    &-image {
      width: 40px;
      height: auto;
      opacity: 0.6;
    }
  }
}
.search-bar__no-results-image {
  width: 130px;
  height: auto; // Zachowa proporcje obrazu
}
