/* variables.scss */

$red: #ff0000; /* Czerwony */
$black: #000000; /* Czarny */
$neon-red: #ff073a; /* Neonowy czerwony */
$white: #ffffff; /* Biały */
$gray: #121212; /* Przyciemniony szary dla tła nawigacji */
$neon-red: #ff5733;
$dark-grey: #1f1f1f;
$fff: #fff;
